<div class="container">
  <h2>Here are your records <%= @user.name %>.</h2>

  <div>
    <h4>Addition: <%= percentage('addition', @user) %></h4>
      
    <h4>Subtraction: <%= percentage('subtraction', @user) %></h4>
    <h4>Multiplication: <%= percentage('multiplication', @user) %></h4>
    <h4>Division: <%= percentage('division', @user) %></h4>
  </div>


  <a href="/users/<%= currentUser.id %>">Back to menu</a>
</div>