<div class="container removable">
  <h1>Results:</h1>

  <h3>Class results:</h3>
  <h4>Addition: <%= classPercentage('addition', @class) %></h4>
  <h4>Subtraction: <%= classPercentage('subtraction', @class) %></h4>
  <h4>Multiplication: <%= classPercentage('multiplication', @class) %></h4>
  <h4>Division: <%= classPercentage('division', @class) %></h4>

  <ul>
    <% @class.each do |student| %>
      <li><a class="inspectStudentRecord" href="/users/<%= student.id %>/history"><%= student.name %></a></li>
    <% end %>
  </ul>

  <a href="/users/<%= currentUser.id %>">Back to menu</a>

</div>