<div class="container removable">
  <h1>Results:</h1>

  <h3>Class results:</h3>
  <h4>Addition: <%= classPercentage('addition', @class) %></h4>
  <h4>Subtraction: <%= classPercentage('subtraction', @class) %></h4>
  <h4>Multiplication: <%= classPercentage('multiplication', @class) %></h4>
  <h4>Division: <%= classPercentage('division', @class) %></h4>

  <div class="numbers_display table">
    <table>
      <tr>
        <th>Number</th>
        <th>times correct</th>
        <th>times incorrect</th>
        <th>percent correct</th>
      </tr>
      <% list_class_results_by_number.each do |num, result| %>
        <tr>
          <td><%= num %></td>
          <td><%= result[:correct] %></td>
          <td><%= result[:incorrect] %></td>
          <td><%= result[:percentage] %>%</td>
        </tr>
      <% end %>
    </table>
  </div>

  <ul class="individualRecords">
    <% @class.each do |student| %>
      <li>
        <a class="inspectStudentRecord" href="/users/<%= student.id %>/history"><%= student.name %></a>
        <div class="individualRecord"></div>
      </li>
    <% end %>
  </ul>

  <a href="/users/<%= currentUser.id %>">Back to menu</a>

</div>